section.approach 
    .container 
        .title.title--with-bottom-line 
            h2.title.title__header Our Approch
            .title__text Check Our approches step bu step ( how we do it )

        ul.approach__list 
            li.approach__item 
                .approach__image 
                    img.approach__picture(src="../images/step-1.jpg")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 1 : Heading Here 
                    p.approach__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit distinctio dolorum illo quos, in sequi atque voluptates qui ipsa modi delectus dicta eum deserunt, quasi dolores nobis. Modi, magnam harum.
            
            li.approach__item 
                .approach__image 
                    img.approach__picture(src="../images/step-2.jpg")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 2 : Heading Here 
                    p.approach__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit distinctio dolorum illo quos, in sequi atque voluptates qui ipsa modi delectus dicta eum deserunt, quasi dolores nobis. Modi, magnam harum.
              
            li.approach__item 
                .approach__image 
                    img.approach__picture(src="../images/step-3.jpg")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 3 : Heading Here 
                    p.approach__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit distinctio dolorum illo quos, in sequi atque voluptates qui ipsa modi delectus dicta eum deserunt, quasi dolores nobis. Modi, magnam harum.
            
            li.approach__item 
                .approach__image 
                    img.approach__picture(src="../images/step-4.jpg")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 4 : Heading Here 
                    p.approach__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit distinctio dolorum illo quos, in sequi atque voluptates qui ipsa modi delectus dicta eum deserunt, quasi dolores nobis. Modi, magnam harum.