- var linkItems = ['facebook-official', 'twitter', 'google-plus', 'linkedin'];
- var linkUrls = ['facebook.com', 'twitter.com', 'google.com', 'linkedin.com'];

footer.footer 
    .footer__top 
        .container 
            .footer__title Get in touch 
            .footer__links
                each item, key in linkItems
                    a.footer__social(href="https://"+linkUrls[key] target="blank")
                        i(class="fa fa-" + item  aria-hidden="true")  
                            span.visually-hidden=linksItems
            .footer__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, animi.

            form(action="#" method="post")
                .footer__field: input.footer__input(type="email" placeholder="Email Address")
                button(type="submit").button Subscribe


    .footer__bottom
        .footer__copy Cssauthor.com &copy; 2014 All Rights Reserved