section.form-section 
    .container
        .title 
            h2.title.title__header Get Your Free Facebook Analysis Now 
            .title__text Enter you details below 
        

    .btn-down: a.arrow-down: i.fa.fa-angle-down 
    
    .form-container.is-hiden
        form(method="post" action="#").form
            button(type="button").form__close-button x 
            .form__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus optio voluptatibus omnis voluptates? Ex nihil hic nobis recusandae autem molestias.

            .form__fields 
                input.form__input(type="text" placeholder="Your Name")
                input.form__input(type="text" placeholder="Contact Number")
                input.form__input(type="text" placeholder="Contact Name")
        
            button(type="submit").button.button--text--uppercase.button--red Submit now 

