@mixin centerer-xy(){
    position: absolute;
    left: 50px;
    top: 50px;
    transform: translate(-50%, -50%);
}


@mixin centerer-x(){
    position: absolute;
    left: 50px;
    transform: translateX(-50%);
}


@mixin centerer-y(){
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
}